# Prevent uploading the 5GB+ raw and processed datasets to GitHub
data/
*.duckdb
*.duckdb.wal

# Ignore pipeline execution logs to maintain a clean commit history
*.log
logs/
# Exclude local Python environments and compiled bytecode
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.venv
.env

# Ignore OS-specific hidden metadata files
.DS_Store
Thumbs.db

#excess data
*.csv
*.parquet
*.json